@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

/* Fuente global */
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
}

.botones {
    padding: 12px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a {
    background-color: #84b6f4;
    padding: 12px;
    border-radius: 80px;
    text-decoration: none;
    color: #fff; /* Color de texto para el enlace dentro del botón */
}

.botones a:focus {
    background-color: #d4eef8;
}

@media screen and (max-width: 574px) {
    .botones a {
        font-size: 1rem;
    }
}
